.flex_form{
    display: flex;
    flex-direction: column;

}

.email{
    margin-bottom: 25px;
}

.button_submit {
    width: 100%;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .input_type_login{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .flex_form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 120px;
    padding-top:70px;
    padding-bottom: 70px;
  }

  .login_form_adj{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top:300px;
  }

  .login_heading{
      text-align: center;
      font-family: myFirstFont
  }