@font-face {
  font-family: myFirstFont;
  src: url("./myFont.otf");
}
.Logo{
  /* margin-left:30px; */
  font-family: myFirstFont, sans-serif;
  font-size: 50px;
  color: red;
  letter-spacing: 7px;
}

.App{
  margin-top: 30px;
  margin-left: 140px;
}

.adj{
  text-align: center;
}

.example_e1 {
  border: none;
  background: red;
  color: white!important;
  font-weight: 400;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  /* margin-left:120px; */
}

.example_e1:hover {
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

body{
  /* background:  url("./abstract-art-background-1037995.jpg"); */
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex_nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.login_adj{
  margin-right:170px;
  margin-top:25px;
  color:red;
  border: none;
  font-family: myFirstFont, sans-serif;
  font-size:40px;
  cursor: pointer;

}

.login_adj:hover{
  cursor:pointer;
}

.logo_adj{
  margin-top:20px;
  color:red;
  font-family: myFirstFont, sans-serif;
  font-size: 40px
}